body {
    margin: 0;
}

header {
    background:green;
    padding: 0.5%;
}

p {
    text-align: left;
}

h1 {
    text-align:center;
    color: blanchedalmond;
    margin: 0;
    font-size: 4vmax;
}


h2 {
    text-align:center;
    color: rgb(99, 0, 145);
    margin: 0;
    font-size: 3vmax;
}

button {
    padding: 5px;
    margin: 5px;
    font-size: 16px;
  }


#flexBody {
    display: flex;
    flex-direction: row; 
    flex-wrap:wrap;
    justify-content:center;
    align-items: flex-start;
    
  }
 

.initial {
    background-color: rgb(255, 200, 255);
    padding:1%;
    margin:0.5%;
    width:50%;
    /*min-width:480px;*/
    max-width: 480px;
    flex-grow: 2;
    text-align: center;

}

.initial > img {
    width:100%;
    height:auto;
    margin:auto;
}

.hidden {
    display: none;
  }


  @media screen and (min-width: 1366px) {

    h1 {
        font-size: 6vmin;
    }

    h2 {
      font-size:4vmin;
    }
  }



