body {
    margin: 0;
}

header {
    background:green;
    padding: 0.5%;
}

h1 {
    text-align:center;
    color: blanchedalmond;
    margin: 0;
    font-size: 5vmax;
}


h2 {
    text-align:center;
    color: rgb(99, 0, 145);
    margin: 0;
    font-size: 2.4vmax;
}

button {
    padding: 2px;
    margin: 5px;
    font-size: 1.9vmax;
  }


#flexBody {
    display: flex;
    flex-direction: row; 
    flex-wrap:wrap;
    justify-content:center;
    align-items: flex-start;
  }
 

  .initial {
    background-color: rgb(255, 200, 255);
    padding:1%;
    margin:0.5%;
    width:50%;
    max-width: 480px;
    flex-grow: 2;
    text-align: center;
}

.initial > img {
    width:100%;
    height:auto;
    margin:auto;
}


.intialenlarge {
    background-color: rgb(255, 200, 255);
    padding:1%;
    margin:0.5%;
    width:90%;
    max-width: 1200px;
    flex-grow: 2;
    text-align: center;
}

.intialenlarge > img {
    width:100%;
    height:auto;
    margin:auto;
    max-width: 480px;
}

.hidden {
    display: none;
  }


 