body {
    margin: 0;
    background-color: #262626;
    color: white;
}

img {
    border-radius: 10px;
    width: 100%;
}

p {
    backdrop-filter: blur(14px) brightness(50%);
    position: absolute;
    width: 100%;
    color: white;
}

h1 {
    font-size: 1.2rem;
    margin: 10px;
}

h2 {
    font-size: 1.2rem;
}

#flexBody {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
  }

.initial {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 0 1 auto;
    width: 40em;
    position: relative;
}

.description {
    backdrop-filter: blur(14px) brightness(50%);
    position: absolute;
    width: 80%;
    color: white;
    border-radius: 10px;
    margin: 1.6rem;
    padding: 1.6rem;
}

.adclass {
    backdrop-filter: blur(14px) brightness(50%);
    position: relative;
    height: auto;
    width: 100%;
    color: white;
}

.btn {

}

.hidden {
    display: none;
}











/*
header {
    background:#B1AFFF;
    padding: 0.5%;
}

p {
    text-align: left;
    color: black;
    font-size: 2vw;
    font-family: 'Tiro Telugu', serif;
    letter-spacing: 0.03vmax;
    line-height: 2.6vmax;
    word-spacing: 0.5vmax;
}

h1 {
    text-align:center;
    color:#0B1E0F;
    margin: 0;
    font-size: 4vmax;
}


h2 {
    text-align:center;
    color: rgb(99, 0, 145);
    margin: 0;
    font-family: 'Averia Serif Libre', cursive;
    font-size: 3vmax;
}

button {
    padding: 5px;
    margin: 5px;
    font-size: 16px;
  }


#flexBody {
    display: flex;
    flex-direction: row; 
    flex-wrap:wrap;
    justify-content:center;
    align-items: flex-start;
  }
 

.initial {
    background-color:#DFF3E3;
    padding:0.5%;
    margin:0.15%;
    width:50%;
    max-width: 480px;
    flex-grow: 2;
    text-align: center;
    -webkit-transition-duration: 0.1s;
}

.initial > img {
    width:100%;
    margin:auto;
}


.initialenlarge {
    background-color:#DFF3E3;
    padding:0.5%;
    margin:0.15%;
    width:90%;
    max-width: 960px;
    flex-grow: 2;
    text-align: center;
    -webkit-transition-duration: 0.1s;
}

.initialenlarge > img {
    width:100%;
    height:auto;
    margin:auto;
    max-width: 480px;
}

.initialshrink {
    background-color:#B8E8FC;
    padding:0.5%;
    margin:0.15%;
    width:10%;
    max-width: 150px;
    flex-grow: 2;
    text-align: center;
    -webkit-transition-duration: 0.1s;
}

.initialshrink > img {
    width:100%;
    height:auto;
    margin:auto;
    max-width: 480px;
}



.hidden {
    display: none;
    -webkit-transition-duration: 0.1s;
  }

  .visible {
    -webkit-transition-duration: 0.1s;
  }


  

  @media screen and (min-width: 1366px) {

    h1 {
        font-size: 6vmin;
    }

    h2 {
      font-size:4vmin;
    }
  }
*/


