body {
    margin: 0;
    background-color:#b6d1b6;
    color: white;
    font-family: 'Noto Serif Sinhala', serif;
    font-size: 0.8em;
}

img {
    border-radius: 5px;
    width: 100%;
    box-shadow:rgba(0, 0, 0, 0.3) 0px 0px 8px 2px;
}

p {
    backdrop-filter: blur(14px) brightness(50%);
    position: absolute;
    width: 100%;
    color: white;
}

h1 {
    font-family: 'Yatra One', cursive;
    font-size: 1.2rem;
    padding:0.5em;
    padding-left: 1em;
    text-align: center;
    text-shadow: 0px 0px 40px #1d221d, 0px -1px 3px #1d221d;
}

h2 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.1rem;
    letter-spacing: 0px;
    text-align: left;
    padding: 0px;
    margin:3px;
    display: none;
}

#flexBody {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
  }

.initial {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 0 1 auto;
    width: 38em;
    padding:0.25em;
    position: relative;
    height:max-content;
}


.description {
    backdrop-filter: blur(14px) brightness(50%);
    position: absolute;
    width: 96%;
    color: white;
    border-radius: 3px;
    margin: 0%;
    padding: 1%;
    text-align: left;
    max-height: 28em;
    overflow:auto;
}

.adclass {
    backdrop-filter: blur(14px) brightness(50%);
    position: relative;
    height: auto;
    width: 100%;
    color: white;
    max-height: 90%;
}

.hidden {
    display: none;
}

